<div class="min-h-screen flex items-center justify-center bg-slate-100 p-10">
    <div class="w-full max-w-md bg-white border border-slate-200 rounded-xl shadow-lg p-6">
        <h1 class="text-2xl font-bold mb-5 text-center">Login</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">
            <div class="flex flex-col gap-2">
                <label for="userName" class="font-semibold text-sm">Username</label>
                <input id="userName" type="text" formControlName="userName" required
                    class="p-2 border border-slate-300 rounded-md text-sm focus:border-blue-500 focus:ring focus:ring-blue-200 outline-none" />
                @if (loginForm.get('userName')?.invalid && loginForm.get('userName')?.touched){
                <p class="text-sm text-red-600 mt-1">Username is required.</p>
                }
            </div>
            <div class="flex flex-col gap-2">
                <label for="password" class="font-semibold text-sm">Password</label>
                <input id="password" type="password" formControlName="password" required
                    class="p-2 border border-slate-300 rounded-md text-sm focus:border-blue-500 focus:ring focus:ring-blue-200 outline-none" />
                @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched){
                <p class="text-red-600 text-xs m-0">Password is required.</p>
                }
            </div>
            <button type="submit" [disabled]="loginForm.invalid"
                class="w-full py-2 rounded-md text-white font-semibold bg-blue-600 disabled:bg-slate-400">Login</button>
        </form>
    </div>
</div>